<h1>All Users</h1>

<ul>
<% @users.each do |user| %>
  <li>
    <%= user.username %>

    <% if Friendship.can_friend(current_user, user) %>
      <% friendship_status = "can-friend" %>
    <% elsif Friendship.can_unfriend(current_user, user) %>
      <% friendship_status = "can-defriend" %>
    <% else %>
      <% friendship_status = "self" %>
    <% end %>

    <div data-user="<%= user.id %>" class="friend-buttons <%= friendship_status %>">
      <button class="friend">Friend Me!</button>
      <button class="defriend">
        Destroy Friendship!</button>
    </div>
  </li>
<% end %>
</ul>

<script>

  var toggleFriendButtons = function(event) {
    $(event.currentTarget.parentElement).toggleClass('can-friend can-defriend');
  }

  $('ul').on('click', '.friend', function(event) {

    var $friend_id = (event.currentTarget.parentElement.dataset.user);
    $.ajax({
      url: "/users/" + $friend_id + "/friendship",
      type: 'POST',
      success: function() {
        toggleFriendButtons(event);
      }
    });
  });

  $('ul').on('click', '.defriend', function(event) {
    console.log(event);

    var $friend_id = (event.currentTarget.parentElement.dataset.user);
    $.ajax({
      url: "/users/" + $friend_id + "/friendship",
      type: 'DELETE',
      success: function() {
        toggleFriendButtons(event);
      }
    });
  })
</script>