<h1>All Users</h1>

<ul>
<% @users.each do |user| %>
  <li>
    <%= user.username %>
    <% if Friendship.can_friend(current_user, user) %>
      <%#= render 'friendships/form', user: user %>
      <button class="friend" data-user="<%= user.id %>">Friend Me!</button>
    <% end %>
  </li>
<% end %>
</ul>

<script>
  var removeFriendButton = function (model) {
    $('[data-user="'+model.in_friend_id+'"]').remove();
  };

  $('ul').on('click', '.friend', function(event) {
    console.log(event.currentTarget);
    $(event.currentTarget).html("Friending...");
    $(event.currentTarget).attr('disabled', 'true');

    var $friend_id = (event.currentTarget.dataset.user);
    $.ajax({
      url: "/users/" + $friend_id + "/friendships",
      type: 'POST',
      success: function(model) {
        removeFriendButton(model);
      }
    });
  });
</script>