<form action="<%= secrets_url %>" method="post" accept-charset="utf-8" id="secret-form">

  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>
    Title:
    <input type="text" name="secret[title]">
  </label>

  <input type="hidden" name="secret[recipient_id]" value="<%= @user.id %>">

  <a id="show-tags">Add Tag</a>
  <div id="tag-container"></div>

  <p><input type="submit" value="Continue &rarr;"></p>
</form>

<script type="application/json" id="bootstrapped_tags">
  { "tags": <%= Tag.all.to_json.html_safe %> }
</script>

<script type="text/template" id="tag-selector">
  <select name="secret[tag_ids][]">
    <%% _.each(tags, function(tag, idx) { %>
      <option value="<%%= tag.id %>"><%%= tag.name %></option>
    <%% }); %>
  </select>
</script>

<script>
  var addSecretTagSelect = function() {
    var template = _.template($('#tag-selector').html());

    var content = template({
      tags: JSON.parse($('#bootstrapped_tags').html()).tags
    });
    $('#tag-container').append(content);
  }

  $(function() {
    $('#show-tags').on('click', function() {
      addSecretTagSelect();
    });
  });

</script>